{% extends "base.html" %}
{% block content %}
  <h1>{{ title }}</h1>
  <hr>
  <ul class="list-articles">
    {% for post in posts %}
      <li>
        <div class="article-panel">
          <p class="first">Категория: {{ post.category.name }}</p>
          <p class="last">Дата: {{ post.time_update|date:"d-m-Y H:i:s" }}</p>
        </div>
        <h2>{{ post.title }}</h2>
        {% autoescape off %}
          {{ post.content|linebreaks|truncatewords:40 }}
        {% endautoescape %}
        <div class="clear"></div>
        <p class="link-read-post">
          <a href="{{ post.get_absolute_url }}">Читать пост</a>
        </p>
        {% if not forloop.last %}{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
